hr {
  border-style: groove;
  color: #fff3d5;
}

.banner-image {
  width: 100%;
  max-height: 70vh;
  object-fit: cover;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.banner-name {
  display: inline-block;
  margin: 0;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  position: relative;
  left: 5rem;
  bottom: 6rem;
  z-index: 1;
  color: #fff3d5;
  background-color: rgba(0, 0, 0, .5);
}

.content {
  margin: 0 auto;
  margin-bottom: 4rem;
  max-width: 90%;
  border-radius: 1rem;
  background-color: rgba(33, 77, 48, .2);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  font-size: large;
}

.details-container {
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem 4rem;
}

.details-map {
  display: flex;
  justify-content: center;
  margin: 1rem;
  width: 500px;
  height: 350px;
}

.details-info {
  max-width: 50%;
  margin: 0 2rem 1rem 1rem;
}

.description {
  max-width: 80%;
  margin: 0 auto;
  padding: 1.5rem 8rem;
  text-align: center;
}

.activities,
.address,
.states {
  padding-left: 1.5rem;
}

.nps-container {
  display: flex;
  align-items: center;
}

.nps-logo {
  width: 3rem;
  padding-right: 1rem;
}

@media screen and (max-width: 990px) {
  .details-container {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .details-info {
    max-width: 85%;
    margin: 0 0 1rem 0;
  }
}

@media screen and (max-width: 950px) {
  .description {
    padding: 1.5rem 4rem;
  }
}

@media screen and (max-width: 700px) {
  .details-container {
    padding: 1.5rem 2rem;
  }

  .details-info {
    text-align: center;
  }

  .activities,
  .address,
  .states {
    padding-left: 0;
  }
}

@media screen and (max-width: 580px) {
  .banner-name {
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    position: static;
    background-color: #214d30;
    text-align: center;
  }

  .description {
    padding: 1.5rem 2.5rem;
  }

  .details-container {
    padding: 1.5rem 1rem;
  }

  .details-map {
    width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .details-map {
    margin: 1rem 0.5rem;
    width: 340px;
  }
}

@media screen and (max-width: 390px) {
  .details-map {
    width: 300px;
  }
}