.header {
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: #214d30;
  z-index: 1;
}

h1 {
  display: inline-block;
  margin: 0;
  margin-left: 1rem;
  font-family: 'Rowdies', cursive;
  text-transform: uppercase;
  color: #fff3d5;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo {
  height: 6rem;
  margin-left: 0.5rem;
}