h1 {
  display: inline-block;
  margin: 0;
  margin-left: 1rem;
  font-family: 'Rowdies', cursive;
  text-transform: uppercase;
  color: #fff3d5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 1rem;
  z-index: 2;
  background-color: #214d30;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo {
  height: 6rem;
  margin-left: 0.5rem;
}

.header-percent {
  display: inline;
  margin-right: 0.5rem;
  font-family: 'Archivo Black', sans-serif;
  font-size: xx-large;
  text-align: right;
  color: #fff3d5;
}

@media screen and (max-width: 550px) {
  h1,
  .header-percent {
    font-size: x-large;
  }
}

@media screen and (max-width: 450px) {
  header {
    padding: 0.5rem;
  }

  h1,
  .header-percent {
    font-size: large;
    margin-left: 0.5rem;
  }

  .logo {
    height: 4rem;
    margin-left: 0;
  }

  .message-helper {
    font-size: medium;
  }

  .message-percent {
    font-size: large;
    margin-right: 0;
  }
}

@media screen and (max-width: 350px) {
  .logo {
    height: 3rem;
  }
}