h1 {
  display: inline-block;
  margin: 0;
  margin-left: 1rem;
  font-family: 'Rowdies', cursive;
  text-transform: uppercase;
  color: #fff3d5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 1rem;
  z-index: 2;
  background-color: #214d30;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo {
  height: 6rem;
  margin-left: 0.5rem;
}

.header-percent {
  display: inline;
  margin-right: 0.5rem;
  font-family: 'Archivo Black', sans-serif;
  font-size: xx-large;
  color: #fff3d5;
}